.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputfield {
  border: none;
  margin-top: 20px;
  width: 400px;
  box-shadow: 0px 8px 8px 0px rgb(0, 0, 0, 0.5);
}

.inputTitle,
.descInput {
  width: 100%;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
}
input:focus,
textarea:focus {
  outline: none;
}
.btn {
  float: right;
  height: 40px;
  width: 40px;
  margin: 0px 20px 0px 0px;
  border-radius: 100%;
  border: none;
  background-color: #f5ba13;
  color: white;
  font-size: 30px;
  transform: translateY(12px);
}
.btn:hover {
  background-color: #e6b52f;
}
